.cashPayment{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #DBE2EF;
    .cashPayment_back{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        @media(max-width: 576px){
            justify-content: center;
        }
        .cashPayment_back_a{
            margin: 2rem 0rem 0rem 2rem;
            @media(max-width: 576px){
                margin: 2rem 0rem 0rem 0rem;
            }
            .cashPayment_back_a_button{
                padding: 1rem 2rem;
                font-size: 1rem;
                font-weight: bold;
                border: none;
                border-radius: 0.5rem;
                color: white;
                background-color: #3F72AF;
                transition: all 0.1s ease-in-out;
                cursor: pointer;
            }   
            .cashPayment_back_a_button:hover{
                background-color: #112D4E;
            }
            .cashPayment_back_a_button:active{
                transform: scale(.95);
            }
        }
    }
    .cashPayment_form{
        display: flex;
        flex-direction: column;
        width: 25rem;
        @media(max-width: 576px){
            width: 80%;
        }
        .cashPayment_form_h2{
            font-size: 2rem;
            margin: 1.5rem 0rem;
            text-align: center;
            @media(max-width: 576px){
                font-size: 1.5rem;
            }
        }
        .cashPayment_form_label{
            margin-bottom: 0.5rem;
        }
        .cashPayment_form_input{
            margin-bottom: 1rem;
            border: none;
            border-radius: 0.25rem;
            height: 2rem;
            padding: 0rem 0.5rem;
            box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        }
        .cashPayment_form_button{
            margin-top: 2rem;
            padding: 1rem 0rem;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 0.5rem;
            color: white;
            background-color: #3F72AF;
            transition: all 0.1s ease-in-out;
            box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
            cursor: pointer;
        }
        .cashPayment_form_button:hover{
            background-color: #112D4E;
        }
        .cashPayment_form_button:active{
            transform: scale(.95);
        }
        .disabled{
            opacity: 0.5;
        }
    }   
}