.cartList{
    width: 35rem;
    height: 100%;
    background-color: #DBE2EF;
    z-index: 2;
    transition: all 0.8s ease-in-out;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    @media(max-width: 992px){
        position: fixed;
        right: -100%;
        width: 25rem;
    }
    @media(max-width: 576px){
        width: 100%;
    }
    .cartList_title{
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0rem 1rem;
        .cartList_title_h1{
            font-size: 1.5rem;
        }
        .cartList_title_img{
            width: 2rem;
            display: none;
            @media(max-width: 992px){
                display: flex;
            }
        }
    }
    .cartList_products{
        height: 80%;
        overflow-y: scroll;
    }
    .cartList_total{
        border-top: 1px solid #000000;
        height: 5%;
        display: flex;
        align-items: center;
        margin: 0rem 1rem;
        .cartList_total_p{
            font-weight: 700;
        }
    }
    .cartList_sell{
        height: 8%;
        display: flex;
        width: 90%;
        margin: auto;
        .cartList_sell_a{
            text-decoration: none;
            width: 100%;
            height: 100%;  
            margin-bottom: 1rem;      
            .cartList_sell_a_button{
                width: 100%;
                height: 100%;
                font-size: 1rem;
                border: none;
                font-weight: bold;
                border-radius: 0.5rem;
                color: white;
                background-color: #3F72AF;
                transition: all 0.1s ease-in-out;
                cursor: pointer;
            }
            .cartList_sell_a_button:hover{
                background-color: #112D4E;
            }
            .cartList_sell_a_button:active{
                transform: scale(.95);
            }
        }
        .cartList_sell_disabled{
            width: 100%;
            height: 70%;
            font-size: 1rem;
            border: none;
            font-weight: bold;
            border-radius: 0.5rem;
            color: white;
            background-color: #3F72AF;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            opacity: 0.5;
        }  
    }
}
.active{
    right: 0%;
    transition: all 0.8s ease-in-out;
}