.cartList{
    width: 30rem;
    height: 100vh;
    background-color: #DBE2EF;
    padding: 1rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    .cartList_h1{
        height: 5%;
    }
    .cartList_products{
        height: 80%;
        overflow-y: scroll;
    }
    .cartList_total{
        height: 5%;
        display: flex;
        align-items: center;
        .cartList_total_p{
            font-weight: 700;
        }
    }
    .cartList_sell{
        height: 10%;
        display: flex;
        width: 100%;
        .cartList_sell_a{
            text-decoration: none;
            width: 100%;
            .cartList_sell_a_button{
                width: 100%;
                height: 70%;
                font-size: 1rem;
                border: none;
                font-weight: bold;
                border-radius: 0.5rem;
                color: white;
                background-color: #3F72AF;
                transition: all 0.1s ease-in-out;
                cursor: pointer;
            }
            .cartList_sell_a_button:hover{
                background-color: #112D4E;
            }
            .cartList_sell_a_button:active{
                transform: scale(.95);
            }
        }
       
    }
    .disabled{
        opacity: 0.5;
    }
}