.payment{
    height: 100vh;
    width: 100%;
    background-color: #DBE2EF;
    .payment_back{
        display: flex;
        justify-content: center;
        .payment_back_a{
            margin-top: 2rem;
            .payment_back_a_button{
                padding: 1rem 2rem;
                font-size: 1rem;
                font-weight: bold;
                border: none;
                border-radius: 0.5rem;
                color: white;
                background-color: #3F72AF;
                transition: all 0.1s ease-in-out;
                cursor: pointer;
            }
            .payment_back_a_button:hover{
                background-color: #112D4E;
            }
            .payment_back_a_button:active{
                transform: scale(.95);
            }
        }
    }
    .payment_div{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .payment_div_a{
            margin: 2rem 0rem;
        }
        .payment_div_a_button{
            width: 15rem;
            padding: 2rem 0rem;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 0.5rem;
            color: white;
            background-color: #3F72AF;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
        }
        .payment_div_a_button:hover{
            background-color: #112D4E;
        }
        .payment_div_a_button:active{
            transform: scale(.95);
        }
    }
}