.cartProduct{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #3F72AF;
    padding: 1.5rem 1rem;
    .cartProduct_img{
        width: 5rem;
        height: 5rem;
        border-radius: 20%;
        margin-right: 0.5rem;
    }
    .cartProduct_div{
        display: flex;
        flex-direction: column;
        width: 60%;
        .cartProduct_div_h2{
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 600
        }
        .cartProduct_div_p{
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 600
        }
        .cartProduct_div_div{
            display: flex;
            align-items: center;
            .cartProduct_div_div_button{
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                font-weight: bold;
                border-radius: 0.5rem;
                color: white;
                background-color: #3F72AF;
                transition: all 0.1s ease-in-out;
                cursor: pointer;
            }
            .cartProduct_div_div_button:hover{
                background-color: #112D4E;
            }
            .cartProduct_div_div_button:active{
                transform: scale(.95);
            }
            .disabled{
                opacity: 0.5;
            }
            .cartProduct_div_div_p{
                margin: 0rem 0.5rem;
                width: 1.5rem;
                text-align: center;
                font-weight: 700;
            }
        }
    }
    .cartProduct_delete{
        width: 2rem;
        margin-right: 0.5rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .cartProduct_delete:active{
        transform: scale(.9);
    }
}
.cartProduct:last-child{
    border: none;
}